---
import LayoutV2 from "../../layouts/LayoutV2.astro";
import resumeData from "../../data/resume-basic.json";
import DaisyThemeComponentTester from "../../components/DaisyThemeComponentTester.astro";

const { personal_info, experience, education, skills } = resumeData;

// TODO: remove this
const projects = [
  {
    title: "SharePoint Dashboard",
    description:
      "A customizable dashboard for SharePoint, enhancing user productivity and information accessibility.",
    imageWidth: 300,
    imageHeight: 200,
  },
  {
    title: "8-bit Portfolio",
    description:
      "A responsive, retro-styled portfolio website showcasing web development skills with a unique twist.",
    imageWidth: 300,
    imageHeight: 200,
  },
  {
    title: "React Component Library",
    description:
      "A comprehensive library of reusable React components, streamlining development processes.",
    imageWidth: 300,
    imageHeight: 200,
  },
  {
    title: "E-commerce UX Redesign",
    description:
      "A complete overhaul of an e-commerce platform's user experience, increasing conversions and user satisfaction.",
    imageWidth: 300,
    imageHeight: 200,
  },
];
---

<LayoutV2 title={`${personal_info.name} - ${personal_info.headline}`}>
  <section class="mb-12 text-center">
    <h1 class="text-4xl font-bold mb-4 text-accent">{personal_info.name}</h1>
    <h2 class="text-sm mb-2">{personal_info.headline}</h2>
  </section>

  <section class="mb-12">
    <div class="card bg-base-300 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-2xl">About Me</h2>
        <p class="prose max-w-none">{personal_info.summary.paragraph}</p>
      </div>
    </div>
  </section>

  <section class="mb-12">
    <div class="card bg-base-300 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-2xl mb-4">Skills</h2>
        <div class="flex flex-wrap gap-3">
          {
            skills.map((skill) => (
              <span class="badge badge-accent font-['Press_Start_2P'] text-xs p-4">
                {skill}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </section>

  <section class="mb-12">
    <div class="card bg-base-300 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-2xl">Education</h2>
        {
          education.map((edu) => (
            <div class="card card-compact border-b-2 border-b-accent border-dashed last:border-0">
              <div class="card-body">
                <h4 class="card-title text-secondary text-base">
                  {edu.degree} in {edu.field}
                </h4>
                <h5 class="text-sm font-bold">{edu.school}</h5>
                <p class="text-sm text-base-content">
                  {edu.degree} | {edu.start_date} - {edu.end_date}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="mb-12">
    <div class="card bg-base-300 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-2xl">Experience</h2>
        {
          experience.map((job, index) => (
            <div class="card card-compact border-b-2 border-b-accent border-dashed last:border-0">
              <div class="card-body prose max-w-none">
                <h4 class="card-title text-secondary">{job.job_title}</h4>
                <h5 class="text-lg text-accent">{job.company}</h5>
                <div class="text-sm text-secondary text-opacity-70">
                  {job.location} | {job.start_date} - {job.end_date}
                </div>
                <ul class="list-disc mt-2">
                  {job.description.bulleted.map((highlight) => (
                    <li>{highlight}</li>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section>
    <div class="card bg-base-300 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-2xl mb-4">Projects</h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6"
        >
          {
            projects.map((project) => (
              <div class="card card-compact bg-base-100 shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes"
                  />
                </figure>
                <div class="card-body">
                  <h4 class="card-title text-secondary text-lg">
                    {project.title}
                  </h4>
                  <p>{project.description}</p>
                  <div class="card-actions justify-end">
                    <a href="#" class="btn btn-primary">
                      View Project
                    </a>
                  </div>
                </div>
              </div>

              // NEUTRAL CARD
              // <div class="card bg-neutral shadow-xl">
              //   <figure>
              //     <img
              //       src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
              //       alt="Shoes"
              //     />
              //   </figure>
              //   <div class="card-body">
              //     <h4 class="card-title text-neutral-content text-lg">
              //       {project.title}
              //     </h4>
              //     <p>{project.description}</p>
              //     <div class="card-actions justify-end">
              //       <a href="#" class="btn btn-primary">
              //         View Project
              //       </a>
              //     </div>
              //   </div>
              // </div>
            ))
          }
          {
            projects.map((project) => (
              <div class="card bg-base-200 shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes"
                  />
                </figure>
                <div class="card-body">
                  <h4 class="card-title text-neutral-content text-lg">
                    {project.title}
                  </h4>
                  <p>{project.description}</p>
                  <div class="card-actions justify-end">
                    <a href="#" class="btn btn-primary">
                      View Project
                    </a>
                  </div>
                </div>
              </div>
            ))
          }

          {
            projects.map((project) => (
              // Primary CARD
              <div class="card bg-primary shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes"
                  />
                </figure>
                <div class="card-body">
                  <h4 class="card-title text-primary-content text-lg">
                    {project.title}
                  </h4>
                  <p class="text-primary-content">{project.description}</p>
                  <div class="card-actions justify-end">
                    <a href="#" class="btn">
                      View Project
                    </a>
                  </div>
                </div>
              </div>
            ))
          }

          {
            projects.map((project) => (
              // Secondary CARD
              <div class="card bg-secondary shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes"
                  />
                </figure>
                <div class="card-body">
                  <h4 class="card-title text-secondary-content text-lg">
                    {project.title}
                  </h4>
                  <p class="text-secondary-content">{project.description}</p>
                  <div class="card-actions justify-end">
                    <a href="#" class="btn">
                      View Project
                    </a>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</LayoutV2>
