---
import LayoutV2 from "../../layouts/LayoutV2.astro";
import resumeData from "../../data/resume-basic.json";
import DaisyThemeComponentTester from "../../components/DaisyThemeComponentTester.astro";

const { personal_info, experience, education, skills } = resumeData;

// TODO: remove this
const projects = [
  {
    title: "SharePoint Dashboard",
    description:
      "A customizable dashboard for SharePoint, enhancing user productivity and information accessibility.",
    imageWidth: 300,
    imageHeight: 200,
  },
  {
    title: "8-bit Portfolio",
    description:
      "A responsive, retro-styled portfolio website showcasing web development skills with a unique twist.",
    imageWidth: 300,
    imageHeight: 200,
  },
  {
    title: "React Component Library",
    description:
      "A comprehensive library of reusable React components, streamlining development processes.",
    imageWidth: 300,
    imageHeight: 200,
  },
  {
    title: "E-commerce UX Redesign",
    description:
      "A complete overhaul of an e-commerce platform's user experience, increasing conversions and user satisfaction.",
    imageWidth: 300,
    imageHeight: 200,
  },
];
---

<LayoutV2 title={`${personal_info.name} - ${personal_info.headline}`}>
  <div class="container mx-auto px-4 py-8">
    <section class="mb-12">
      <h1 class="text-4xl font-bold mb-4">{personal_info.name}</h1>
      <h2 class="text-2xl mb-2">{personal_info.headline}</h2>
      <p class="text-lg">{personal_info.summary.paragraph}</p>
    </section>
    <!-- Daisy UI Component Previewer -->
    <!-- <DaisyThemeComponentTester /> -->

    <section class="mb-12">
      <div class="card bg-base-200 shadow-xl border-8 border-accent">
        <div class="card-body">
          <h2 class="card-title">About Me</h2>
          <p class="">{personal_info.summary.paragraph}</p>
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h3 class="text-2xl font-bold mb-4">Skills</h3>
      <div class="card bg-base-200 shadow-xl border-8 border-secondary">
        <div class="card-body">
          <h2 class="card-title">Skills</h2>
          <div class="flex flex-wrap gap-2">
            {
              skills.map((skill) => (
                <span class="badge badge-accent">{skill}</span>
              ))
            }
          </div>
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h3 class="text-2xl font-bold mb-4">Education</h3>
      {
        education.map((edu) => (
          <div class="card bg-base-200 shadow-xl">
            <div class="card-body">
              <h4 class="card-title">
                {edu.degree} in {edu.field}
              </h4>
              <h5 class="text-lg">{edu.school}</h5>
              <p class="text-sm text-base-content text-opacity-70">
                Graduated {edu.end_date}
              </p>
            </div>
          </div>
        ))
      }
    </section>

    <section class="mb-12">
      <h3 class="text-2xl font-bold mb-4">Experience</h3>
      <div class="card bg-base-200 shadow-xl border-4 border-accent">
        <div class="card-body">
          {
            experience.map((job, index) => (
              <>
                <div>
                  <h4 class="card-title text-secondary">{job.job_title}</h4>
                  <h5 class="text-lg">{job.company}</h5>
                  <p class="text-sm text-base-content text-opacity-70">
                    {job.start_date} - {job.end_date}
                  </p>
                  <ul class="list-disc list-inside mt-2">
                    {job.description.bulleted.map((highlight) => (
                      <li>{highlight}</li>
                    ))}
                  </ul>
                </div>
                {index < experience.length - 1 && (
                  <div class="divider my-4 border-t border-dashed border-accent" />
                )}
              </>
            ))
          }
        </div>
      </div>
    </section>

    <section>
      <h3 class="text-2xl font-bold mb-4">Projects</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          projects.map((project) => (
            <div class="card bg-base-200 shadow-xl">
              <figure>
                <img
                  src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h4 class="card-title">{project.title}</h4>
                <p class="mb-2">{project.description}</p>
                <div class="card-actions justify-end">
                  <a href="#" class="btn btn-primary">
                    View Project
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</LayoutV2>
